*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    height: 100vh;
}
body{
    height: 100%;
}
main{
    display: flex;
    justify-content: end;
    height: 100%;
}
.nav-bar, .close{
    display: none;
}
ul li{
    
    display: inline;
    padding: 15px;
    list-style-type:none;
}
ul{
    margin: 10px 15px 0 0;
    text-align: end;
    background-color: none;
    width: fit-content;
}

.menu-line{
  height:3px ;
  width: 20px;
  background: black;
  margin: 3px 0;
  background-color: hsla(78, 39%, 27%, 0.754);
}

@media screen and (max-width: 600px) {
      ul li{
        display: block;
        color: transparent;
      }
      .nav-bar{
        width:fit-content;
        display: block;
        padding: 5px;
        margin-left: 70%;
        cursor: pointer;
      }
      .nav-bar:hover,.nav-bar:focus, .close:hover,.close:focus{
   outline: 3px solid hsla(0, 0%, 0%, 0.638);
}.nav-bar:active,.close:active{
  outline: 3px solid hsla(0, 0%, 0%, 0.638);
}
      .close{
        width: fit-content;
        margin-left: 40%;
        margin-top: 10px;
      }
      ul{
        width: fit-content;
        text-align: center;
        margin: 0;
      }
}
    
